{
  "plugins": [
    "@babel/plugin-check-constants",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-transform-arrow-functions",
    "@babel/plugin-transform-modules-commonjs"
  ]
}
